@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav bar*/
a:hover {
  font-weight: bolder;
}

.barra-nav {
  height: 60px;
}

nav {
  background-color: #1A1E21;
}
nav div a {
  font-size: 20px;
  text-decoration: none;
  font-weight: bolder;
  padding: 10px;
  margin-right: 10px;
}

.navbar-colapse-color {
  background-color: #1A1E21;
}

.menuhamb-color {
  color: white;
}

/* Main */
main {
  background-color: rgb(204, 204, 204);
}

.main-contacto {
  height: 800px;
}

/* Colores */
/* Map */
/* Mixin */
/* Inicio */
.contenedor-inicio {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 15% 75% 1fr;
  grid-template-areas: "caja1 caja1" "caja2 caja3" "caja4 caja4";
}

.caja1-inicio {
  grid-area: caja1;
  animation-name: aparece-derecha;
  animation-duration: 1s;
  animation-delay: 0, 5s;
}

.caja2-inicio, .caja3-inicio {
  grid-area: caja2;
  animation-name: aparece-izquierda;
  animation-duration: 2s;
  animation-delay: 0, 5s;
}

.caja3-inicio {
  grid-area: caja3;
  animation-name: aparece-derecha;
}

.caja4-inicio {
  grid-area: caja4;
}

.h1-inicio {
  font-size: 55px;
  text-align: center;
  font-weight: 700;
}

.h4-inicio {
  text-align: center;
  font-size: 25px;
}

.h3-inicio {
  font-size: 50px;
  padding-top: 25px;
  font-weight: 400;
}

.texto-main {
  font-size: 23px;
  padding: 30px;
  text-align: center;
}

.estilo-lista-inicio {
  font-family: "Permanent Marker", cursive;
  list-style-position: inside;
}

.imagenes-main {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.imagenes-main div {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.imagenes-main div img {
  border-radius: 10px;
}

/*Quienes somos */
.lista {
  text-align: center;
  font-size: 30px;
  padding: 30px;
  list-style: disc;
  list-style-position: inside;
}

.elementos-lista {
  padding: 50px;
}

.contenedor-somos {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 75% 1fr;
  grid-template-areas: "caja1b" "caja2b" "caja3b";
}

.caja1-somos {
  grid-area: caja1b;
  animation-name: aparece-derecha;
  animation-duration: 1s;
  animation-delay: 0, 5s;
}

.caja2-somos {
  grid-area: caja2b;
  animation-name: aparece-izquierda;
  animation-duration: 2s;
  animation-delay: 0, 5s;
}

.caja3-somos {
  grid-area: caja3b;
}

.h1-somos {
  text-align: center;
  padding: 50px;
  font-size: 60;
  font-weight: 700;
}

.lista-somos {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: justify;
  list-style-type: none;
  font-size: 30px;
  padding: 20px;
}

/* Mitos */
.h1-mitos {
  font-size: 45px;
  text-align: center;
  padding: 20px;
  font-weight: 700;
  animation-name: aparece-derecha;
  animation-duration: 1s;
  animation-delay: 0, 5s;
}

.padre-mito-1 {
  display: inline-block;
  margin-left: 150px;
  border: 3px solid rgb(168, 165, 165);
  border-radius: 10px;
  animation-name: aparece-izquierda;
  animation-duration: 2s;
  animation-delay: 0, 5s;
}

.imagen1, .imagen3, .imagen2 {
  margin-left: 170px;
  width: 250px;
  height: 250px;
}

.texto1, .texto3, .texto2 {
  font-size: 25px;
  width: 600px;
  margin: auto;
  text-align: center;
}

.padre-mito-2 {
  display: inline-block;
  margin-left: 60%;
  border: 3px solid rgb(168, 165, 165);
  border-radius: 10px;
  animation-name: aparece-derecha;
  animation-duration: 2s;
  animation-delay: 0, 5s;
}

.padre-mito-3 {
  display: inline-block;
  margin-left: 150px;
  border: 3px solid rgb(168, 165, 165);
  border-radius: 10px;
  margin-bottom: 30px;
  animation-name: aparece-izquierda;
  animation-duration: 2s;
  animation-delay: 0, 5s;
}

/* Consejos útiles */
.h1-consejos {
  font-size: 45px;
  text-align: center;
  padding: 30px;
  font-weight: 700;
  animation-name: aparece-derecha;
  animation-duration: 1s;
  animation-delay: 0, 5s;
}

.padre-consejos {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: aparece-izquierda;
  animation-duration: 2s;
  animation-delay: 0, 5s;
}

.hijo-consejos {
  border: 2px solid rgb(44, 44, 44);
  font-size: 30px;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
}

/* Contacto */
.div-contacto {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.h1-contacto {
  font-size: 55px;
  text-align: center;
  animation-name: aparece-derecha;
  animation-duration: 1s;
  animation-delay: 0, 5s;
  font-weight: 700;
}

.padre-contacto {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: auto;
  padding: 20px;
  align-items: center;
  animation-name: aparece-derecha;
  animation-duration: 1s;
  animation-delay: 0, 5s;
}

.input-estilo {
  background: rgb(168, 165, 165);
  border: 1px solid #393939;
  border-radius: 5px 5px 5px 5px;
  color: #393939;
  font-size: 25px;
  padding: 5px;
}

.enviar-estilo {
  background-color: rgb(168, 165, 165);
  padding: 10px;
  border: 0;
  border-radius: 20px;
  margin-top: 15px;
  font-size: 20px;
}

.elemento-contacto {
  font-size: x-large;
}

/* Footer */
/* Media querie Inicio */
@media screen and (max-width: 1600px) {
  .imagen-inicio {
    width: 250px;
    height: 250px;
  }
  .texto-main {
    font-size: 20px;
  }
}
@media screen and (max-width: 1400px) {
  .h1-inicio {
    font-size: 40px;
    text-align: center;
  }
  .h4-inicio {
    font-size: 20px;
    font-weight: bold;
  }
  .imagen-inicio {
    width: 200px;
    height: 200px;
  }
  .texto-main {
    font-size: 17px;
  }
}
@media screen and (max-width: 1200px) {
  .imagen-inicio {
    width: 150px;
    height: 150px;
  }
  .h3-inicio {
    font-size: 40px;
  }
  .texto-main {
    font-size: 15px;
    padding: 20px;
  }
}
@media screen and (max-width: 900px) {
  .h3-inicio {
    font-size: 35px;
  }
  .texto-main {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .contenedor-inicio {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8% 1fr 1fr 8%;
    grid-template-areas: "caja1" "caja2" "caja3" "caja4";
  }
  .h1-inicio {
    font-size: 33px;
  }
  .h4-inicio {
    font-size: 17px;
  }
  .texto-main {
    font-size: 17px;
    padding: 5px;
    text-align: center;
  }
  .imagen-inicio {
    width: 170px;
    height: 170px;
  }
}
@media screen and (max-width: 500px) {
  .imagen-inicio {
    width: 200px;
    height: 200px;
  }
  .imagenes-main {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .imagenes-main div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .imagenes-main div img {
    border-radius: 10px;
  }
}
@media screen and (max-width: 470px) {
  .h1-inicio {
    font-size: 25px;
    padding: 15px;
  }
  .h4-inicio {
    font-size: 17px;
  }
  .texto-main {
    font-size: 17px;
    padding: 5px;
    text-align: center;
  }
}
/* Media querie Quienes somos */
@media screen and (max-width: 1400px) {
  .h1-somos {
    padding: 50px;
    font-size: 36px;
  }
  .lista-somos {
    font-size: 23px;
  }
}
@media screen and (max-width: 1200px) {
  .h1-somos {
    padding: 50px;
    font-size: 30px;
  }
  .lista-somos {
    font-size: 23px;
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .h1-somos {
    padding: 60px;
    font-size: 25px;
  }
  .lista-somos {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .h1-somos {
    padding: 60px;
    font-size: 25px;
  }
  .lista-somos {
    font-size: 18px;
  }
}
@media screen and (max-width: 470px) {
  .h1-somos {
    padding: 60px;
    font-size: 20px;
  }
  .lista-somos {
    font-size: 14px;
  }
}
/* Media querie Mitos */
@media screen and (max-width: 1600px) {
  .h1-mitos {
    font-size: 40px;
  }
  .padre-mito-1 {
    margin-left: 150px;
  }
  .imagen1, .imagen2, .imagen3 {
    margin-left: 170px;
    width: 220px;
    height: 220px;
  }
  .texto1, .texto2, .texto3 {
    font-size: 25px;
    width: 500px;
    margin: auto;
    text-align: center;
  }
  .padre-mito-2 {
    display: inline-block;
    margin-left: 60%;
    border: 3px solid gray;
    border-radius: 10px;
  }
  .imagen2 {
    margin-left: 170px;
    width: 220px;
    height: 220px;
  }
  .texto2 {
    font-size: 25px;
    width: 500px;
    margin: auto;
    text-align: center;
  }
  .padre-mito-3 {
    display: inline-block;
    margin-left: 150px;
    border: 3px solid gray;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .imagen3 {
    margin-left: 170px;
    width: 220px;
    height: 220px;
  }
  .texto3 {
    font-size: 25px;
    width: 500px;
    margin: auto;
    text-align: center;
  }
}
@media screen and (max-width: 1300px) {
  .h1-mitos {
    font-size: 35px;
    text-align: center;
    padding: 20px;
  }
  .padre-mito-1 {
    display: inline-block;
    margin-left: 150px;
    border: 3px solid gray;
    border-radius: 10px;
  }
  .imagen1, .imagen2, .imagen3 {
    margin-left: 120px;
    width: 190px;
    height: 190px;
  }
  .texto1, .texto2, .texto3 {
    font-size: 25px;
    width: 450px;
    margin: auto;
    text-align: center;
  }
  .padre-mito-2 {
    display: inline-block;
    margin-left: 60%;
    border: 3px solid gray;
    border-radius: 10px;
  }
  .imagen2 {
    margin-left: 170px;
    width: 190px;
    height: 190px;
  }
  .texto2 {
    font-size: 25px;
    width: 450px;
    margin: auto;
    text-align: center;
  }
  .padre-mito-3 {
    display: inline-block;
    margin-left: 150px;
    border: 3px solid gray;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .imagen3 {
    margin-left: 170px;
    width: 190px;
    height: 190px;
  }
  .texto3 {
    font-size: 25px;
    width: 450px;
    margin: auto;
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
  .padre-mito-1 {
    display: inline-block;
    margin-left: 30%;
    border: 3px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .padre-mito-2 {
    display: inline-block;
    margin-left: 30%;
    border: 3px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .padre-mito-3 {
    display: inline-block;
    margin-left: 30%;
    border: 3px solid gray;
    border-radius: 10px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .padre-mito-1 {
    margin-left: 20%;
  }
  .padre-mito-2 {
    margin-left: 20%;
  }
  .padre-mito-3 {
    margin-left: 20%;
  }
}
@media screen and (max-width: 768px) {
  .imagen1, .imagen2, .imagen3 {
    margin-left: 60px;
    width: 150px;
    height: 150px;
  }
  .texto1, .texto2, .texto3 {
    font-size: 17px;
    width: 350px;
    margin: auto;
    text-align: center;
  }
  .imagen2 {
    margin-left: 60px;
    width: 150px;
    height: 150px;
  }
  .texto2 {
    font-size: 17px;
    width: 350px;
    margin: auto;
    text-align: center;
  }
  .imagen3 {
    margin-left: 60px;
    width: 150px;
    height: 150px;
  }
  .texto3 {
    font-size: 17px;
    width: 350px;
    margin: auto;
    text-align: center;
  }
}
@media screen and (max-width: 570px) {
  .h1-mitos {
    font-size: 28px;
  }
  .texto1, .texto2, .texto3 {
    width: 280px;
  }
  .texto2 {
    width: 280px;
  }
  .texto3 {
    width: 280px;
  }
}
@media screen and (max-width: 400px) {
  .texto1, .texto2, .texto3 {
    width: 240px;
  }
  .texto2 {
    width: 240px;
  }
  .texto3 {
    width: 240px;
  }
}
/* Media querie Consejos */
@media screen and (max-width: 768px) {
  .h1-consejos {
    font-size: 30px;
    text-align: center;
    padding: 30px;
  }
  .hijo-consejos {
    border: 2px solid black;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
  }
}
@media screen and (max-width: 576px) {
  .h1-consejos {
    font-size: 25px;
    text-align: center;
    padding: 30px;
  }
  .hijo-consejos {
    border: 2px solid black;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
  }
}
@media screen and (max-width: 470px) {
  .h1-consejos {
    font-size: 20px;
    text-align: center;
    padding: 30px;
  }
  .hijo-consejos {
    border: 2px solid black;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
  }
}
/* Media querie footer */
@media screen and (max-width: 470px) {
  .div-footer {
    color: black;
    font-weight: bolder;
    font-size: 15px;
  }
}
@media screen and (max-width: 470px) {
  .div-footer-contacto {
    color: black;
    font-weight: bolder;
    font-size: 15px;
  }
}
@keyframes aparece-derecha {
  0% {
    opacity: 0;
    transform: scale(1) translateX(30px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(1);
  }
}
@keyframes aparece-izquierda {
  0% {
    opacity: 0;
    transform: scale(1) translate(-40px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(1);
  }
}/*# sourceMappingURL=estilo.css.map */